@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Marck Script", cursive;
    color: red;
    text-shadow: 2px 3px 2px white;
    background-color: #5722d2;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "item1 item1 item1"
    "item2 item3 item4"
    "item5 item5 item7"
    "item6 item6 item7";

}
.item1 {
    grid-area: item1;
    padding: 15px;
    font-size: 40px;
}
.item2 {
    grid-area: item2;
    width:425px;
    height: 600px;
    background-image: url('./images/paris.jpg');
    background-size: cover;
}
.item3 {
    grid-area: item3;
    width: 425px;
    height: 600px;
    background-image: url('./images/london.jpg');
    background-size: cover;
}
.item4 {
    grid-area: item4;
    padding: 15px;
}
.item5 {
    grid-area: item5;
    width:850px;
    height: 300px;
}
.item6 {
    grid-area: item6;
    padding: 15px;
}
.item7 {
    grid-area: item7;
    width: 425px;
    height:600px
}


